.ImageDiv {
	position: relative;
	height: 70vh;
	width: 100%;
}

.addToCartBtn {
	background-color: black;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	color: white;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 23px;
	font-weight: 500;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
}

.mobile {
	display: none;
}

.pageContainer {
	padding: 60px 25px;
}


.grid {
	display: grid;
	grid-template-columns: 100%;
	row-gap: 32px;
}

.category {
	color: #656565;
	font-weight: 700;
	font-size: 22px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.title {
	font-size: 34px;
	font-weight: 700;
	margin: 0;
	padding-bottom: 12px;
}

.price {
	color: #656565;
	font-weight: 700;
	font-size: 29px;
	margin: 0;
}

.bestSeller {
	width: 170px;
	padding: 10px;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;

	p {
		font-weight: 400;
		font-size: 20px;
		margin: 0;
	}
}

.paginationContainer {
	margin: 80px auto 0 auto;
	display: flex;
	justify-content: space-between;
	max-width: 230px;
	width: 100%;
}

.number {
	font-size: 29px;
	font-weight: 400px;
	color: #B4B4B4;
	cursor: pointer;
}

.curNum {
	font-size: 29px;
	font-weight: 400px;
	color: black;
}

.numContainer {
	max-width: 150px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
}

.moveArr {
	position: relative;
	width: 13px;
	height: 32px;
	cursor: pointer;
}

.sort {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 60px;
	max-width: 250px;
	margin-left: auto;
	.sortText {
		font-weight: 400;
		font-size: 22px;
		color: #9B9B9B;
	}

	select {
		// A reset of styles, including removing the default dropdown arrow
		appearance: none;
		background-color: transparent;
		border: none;
		padding: 0 1em 0 0;
		margin: 0;
		width: 100%;
		font-family: inherit;
		font-size: inherit;
		cursor: inherit;
		line-height: inherit;

		// Stack above custom arrow
		z-index: 1;

		// Remove dropdown arrow in IE10 & IE11
		// @link https://www.filamentgroup.com/lab/select-css.html
		&::-ms-expand {
			display: none;
		}

		// Remove focus outline, will add on alternate element
		outline: none;
	}

	.select {
		display: grid;
		grid-template-areas: "select";
		align-items: center;
		position: relative;

		select,
		&::after {
			grid-area: select;
		}

		min-width: 120px;

		border: 1px solid var(--select-border);
		border-radius: 0.25em;
		padding: 0.25em 0.5em;

		font-size: 1.25rem;
		cursor: pointer;
		line-height: 1.1;

		// Custom arrow
		&:not(.select--multiple)::after {
			content: "";
			justify-self: end;
			width: 20px;
			height: 20px;
			background-image: url('../../public/DownArrow.svg');
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
}


@media only screen and (min-width: 992px) {
	.pageContainer {
		padding: 60px 0px;
	}

	.grid {
		grid-template-columns: 33% 33% 33%;
	}

	.ImageDiv {
		max-width: 380px;
	}

	.addToCartBtn:hover {
		display: block;
	}
}

@media only screen and (max-width: 991px) {
	.mobile {
		display: block;
	}
}